
        <div class="container chart" id="chart2">
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div>
                      <h3>Comparison of mean ratings between age-ranges during the years.</h3><br><br>
                      X-Axis : Years <br>
                      Y-Axis : Ratings <br><br>
                      In this chart every line represents an age range, and it tells you how the mean of the ratings have changed over the years. This, on people of a specified gender. <br><br>
                      - Youngsters are always foolish and happy.
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div>
                      <secondchart></secondchart>
                    </div>
                </div>
                
            </div>
        </div>
<hr>
        <div class="container chart" id="chart1">
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div>
                    <h3>For each rating, comparison between the years of the rating-percentage.</h3>
                    <br><br>
                      X-Axis : Ratings <br>
                      Y-Axis : % <br><br>
                      
                      With this chart you can see how satisfied of their lives were the people of a certain gender, in a certain age range across the years 2010-2016. <br><br>
                      - Pizza kept the gaussian on the right side.
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div>
                      <firstchart></firstchart>
                    </div>
                </div>

            </div>
        </div>
