
    <div style="display: block; ">
    <canvas baseChart 
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [colors]="lineChartColors"
            [chartType]="lineChartType"></canvas>
    </div>

    <div style="display: block; max-width: 50vw;">
      <div *ngFor='let gender of genders' class="options">
       <input type="radio" name="gender_2" value="{{gender}}" class="opt" [(ngModel)]="curr_gender" (change)="toggleGender(gender)"> {{gender}}<br>
      </div><br>
      
      <div *ngFor='let age of ages' class="options">
       <input type="checkbox" class="opt" name="age_selection" value="{{age}}" checked (change)="toggleAge(age)"> {{age}}<br>
      </div>
    </div>
